پروژه در حال تغییر است و چیزی که در این فایل گنجانده شده به صورت تمرین بیشتر در اختیار شما قرار گرفته است برای جلسات ورکشاب

----

----

----

<div dir="rtl" align="justify">
    <b style="font-family:Vazir,font-size:28px;">

پروژه پانداز پیشرفته    



    1. ابتدا تلاش کنید از طریق کتابخانه ی sqllite3 یا sqlalchemy دیتای 
    موجود بر روی دیتابیس خود را بخوانید 
    
    2. پس از بارگیری جدول مورد نظر چند سطری از آن را فراخوانی و مشاهده کنید

    3. حال از نظر شاخص های آماری دیتای خود را مورد سنجش و تحلیل قرار دهید تا بیشتر به آن تسلط پیدا کنید 

    4. نوبت به تمیز کردن مقادیر موجود در دیتای رسیده است:
    بر مبنای آن چه که آموخته اید مقادیر گمشده را پیدا و با مقادیر بهینه پر کنید؛ حال مقادیر دور افتاده و پرت را از طریق متود هایی که آموخته اید تلاش کنید شناسایی و از مجموعه داده ی خود کنار بگذارید.

    5. سری های زمانی: تلاش کنید کشور هارا بر مبنای مدت زمانی که دیتا دارند با یکدیگر مقایسه کنید
    (تلاش بیشتر: از  مدل های رگرسیون برای پیش بینی امید به زندگی کشور ها در آینده کمک بگیرید. دقت داشته باشید که باید مدل خود را ارزیابی و میزان خطا و دقت آن را نمایش دهید. حواستان به شاخص هایی که برای رگرسیون انتخاب میکنید باشد تا دقت مدل خود را افزایش دهید)

    6. تلاش کنید تمامی سطر های مربوط به یک کشور را یکی کنید و ویژگی های عددی آن ها را با مقدار میانگین و ویژگی های دسته ای را با مقدار مد پر کنید تا برای همه کشور ها یک سطر به خصوص داشته باشید

    7. حال نوبت بررسی آماری و همبستگی شاخص ها با یکدیگر میباشد؛ از مقایسه توزیع ها نیز غافل نشوید

    8. وقت آن رسیده که تا پرسش هایی را مطرح کرده و به دنبال یافتن پاسخ های آن ها از طریق دیتای تمیز شده بگردید.

    9. تلاش کنید نمودار های خود را از طریق plotly ترسیم کرده  و از نمودار های تدریس شده نیز بهره مند شوید.

    10. تلاش بیشتر: از مدل های دسته بندی کمک بگیرید و با شاخص هایی که دارید مدلی بسازید تا بتواند یک خط جدید را از نظر توسعه یافته یا در حال توسعه بودن شناسایی کند؛ مدل خود را نیز ارزیابی کنید.

    11. تلاش بیشتر: از متود های کاهش ابعاد کمک گرفته و تلاش کنید نقاط را در فضای دو یا سه بعدی نمایش دهید( برای تفکیک نقاط نیز میتوانید بر مبنای امید به زندگی ستونی به دیتا اضافه کنید تا دیتا را گستته سازی کرده باشید و نقاط با رنگ های این لیبل های گستته از هم تمایز داده شوند)

    12. هر آن چه که احساس میکنید در پروژه ذکر نشده را انجام داده و احساس نکنید نمیتوانید از قالب پروژه خارج شوید تا از حداکثر خلاقیت خود نیز بهره مند شوید

    

</b>
</div>

----------

### Colab:

You can open the project in google colab by clicking the link below as well:

👇

[here](https://colab.research.google.com/github/showmidelo/Advanced_Pandas_karyar/blob/main/project.ipynb)

----

# Data Cleaning:

### library and data importing

First of All try to use .sql file to make a table in your database and then try to make a request to your database to read that table and make a dataframe out of it

In [ ]:
%pip install sqlite3

In [10]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect() 

# Run SQL          
sql_query = pd.read_sql()

# Convert SQL to DataFrame
df = pd.DataFrame(sql_query, columns = [])

df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

### Imputing null values: 

try to use some of the methods you've learned

### Try to detect and remove outliers by any method you think that works on dataframe (you even can detect them by z value)

### Perform an EDA on cleaned dataframe such as correlation and etc.

you can use plotly library to visulize your findings

### Try to use a method to make table has just one row for every country and export all values in front of their records

### Use time series to show decrese and increase in any feature during data time

Continue....